body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
}
.navbar .logo img{
    width: 70px;
    height: 70px;
}
h1 {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.product-item, .cart-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
    display: block;
}

.product-item button, .cart-item button {
    margin-top: 10px;
    margin-right: 5px;
}

.page {
    display: none;
}
button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.cart-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
}

.product-item button, .cart-item button {
    margin-top: 10px;
    margin-right: 5px;
}